@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppins-black";
  font-display: swap;
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  font-display: swap;
  src: url("../fonts/SofiaProRegular.woff2") format("woff2"), url("../fonts/SofiaProRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  font-display: swap;
  src: url("../fonts/SofiaProSemiBold.woff2") format("woff2"), url("../fonts/SofiaProSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  font-display: swap;
  src: url("../fonts/SofiaProBold.woff2") format("woff2"), url("../fonts/SofiaProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  font-display: swap;
  src: url("../fonts/SofiaProBlack.woff2") format("woff2"), url("../fonts/SofiaProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-clock:before {
  content: "";
}

._icon-star:before {
  content: "";
}

._icon-arrow-left:before {
  content: "";
}

._icon-arrow-right:before {
  content: "";
}

._icon-calendar:before {
  content: "";
}

._icon-calendar2:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-location:before {
  content: "";
}

._icon-logo:before {
  content: "";
}

._icon-people:before {
  content: "";
}

._icon-person:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

._icon-vimeo:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "SofiaPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "SofiaPro";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  background-color: #e5e5e5;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1065px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #009d98;
  color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
          box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
  font-size: 16px;
  line-height: 162%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:active {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 157, 152, 0.25) !important;
          box-shadow: 0px 0px 0px rgba(0, 157, 152, 0.25) !important;
  -webkit-transform: translate(0px, 5%);
      -ms-transform: translate(0px, 5%);
          transform: translate(0px, 5%);
}

.btn._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  padding: 0px 0px;
}

._text {
  font-size: 16px;
  line-height: 162%;
}

._title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}

._lazy {
  min-height: 50px;
  background: url(../img/icons/loading.gif) center/50px no-repeat;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.header {
  margin-bottom: 20px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 600;
  color: #188182;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.header__logo::before {
  margin-right: 4px;
}

.menu__link {
  color: inherit;
}

.icon-menu {
  display: none;
}

.fullscreen {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.fullscreen__container {
  position: relative;
  min-height: 400px;
  padding-bottom: 40px;
}

.fullscreen__title {
  font-family: "poppins-black";
  font-size: 75px;
  position: absolute;
  top: 18%;
  line-height: 113%;
  font-weight: 900;
  color: #cfdfe3;
  letter-spacing: 0.05em;
  text-shadow: 0 -2px 0 #000000, 0 -2px 0 #000000, 0 2px 0 #000000, 0 2px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, -1px -2px 0 #000000, 1px -2px 0 #000000, -1px 2px 0 #000000, 1px 2px 0 #000000, -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}

._no-webp .fullscreen__people{
  background: url(../img/fullscreen/group.png) top/cover no-repeat; }

.fullscreen__people {
  position: absolute;
  width: 100%;
  height: 52.73%;
  bottom: 0%;
  left: 0;
  z-index: -2;
  pointer-events: none;
}

.bg-fullscreen {
  display: none;
}

.place {
  margin-bottom: 140px;
}

.place__container {
  max-width: 1340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.place__body {
  position: relative;
}

.form-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  -webkit-box-shadow: 0px 20px 100px rgba(24, 129, 130, 0.1);
          box-shadow: 0px 20px 100px rgba(24, 129, 130, 0.1);
}

.form-place__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
}

.form-place__input input {
  margin-right: 10px;
}

.form-place__icon {
  color: #188182;
}

.form-place__button {
  padding-top: 12px;
  padding-bottom: 12px;
}

.learn__container {
  padding-bottom: 20px;
}

.learn__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 763px;
          flex: 0 1 763px;
}

.picture-learn {
  position: relative;
}

.picture-learn__image img {
  border-radius: 10px;
  max-width: 100%;
}

.content-learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-learn__title {
  font-weight: 900;
  color: #009d98;
  margin: 0px 0px 0.5em 0px;
}

.content-learn__text {
  margin: 0px 0px 1.875em 0px;
  color: #7a7a7a;
}

.content-learn__button {
  padding-right: 25px;
  padding-left: 25px;
}

.summer {
  position: relative;
  padding-top: 135px;
  padding-bottom: 100px;
}

.header-summer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.header-summer__text {
  margin-bottom: 20px;
}

.header-summer__title {
  color: #130f40;
}

.header-summer__button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.slider-summer__body {
  min-width: 0px;
  position: relative;
  margin-bottom: 100px;
}

.slider-summer__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-summer__image-cover {
  position: relative;
  padding: 0px 0px 100% 0px;
}

.slider-summer__image img {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background: url(../img/icons/loading.gif) 50%/50px no-repeat;
}

.slider-summer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #ffc107;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  border-radius: 4px 10px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease 0s, opacity 0.5s ease 0s, visibility 3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, opacity 0.5s ease 0s, visibility 3s ease 0s;
  transition: background-color 0.3s ease 0s, opacity 0.5s ease 0s, visibility 3s ease 0s;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.slider-summer__paragraph {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.slider-summer__title {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.slider-summer__title_text {
  font-size: 36px;
  line-height: 94%;
  color: inherit;
  margin: 0px 10px 0px 0px;
}

.slider-summer__title_stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translate(0px, 19%);
      -ms-transform: translate(0px, 19%);
          transform: translate(0px, 19%);
  color: #ffc107;
}

.slider-summer__title_star:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.slider-summer__title_star::before {
  font-size: 20px;
}

.slider-summer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 25px;
}

.flight-slider-summer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009d98;
}

.flight-slider-summer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flight-slider-summer__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.flight-slider-summer__people::before {
  font-size: 18px;
  margin: 0px 10px 0px 0px;
}

.flight-slider-summer__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flight-slider-summer__days::before {
  font-size: 18px;
  margin: 0px 10px 0px 0px;
}

.flight-slider-summer__price {
  font-weight: 600;
  font-size: 24px;
}

.nav-slider-summer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-slider-summer__button {
  padding: 15px 18px;
  background-color: #009d98;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.3);
          box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.3);
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-slider-summer__button.swiper-button-disabled {
  opacity: 0.7;
  pointer-events: none;
}

.nav-slider-summer__button_prev {
  margin-right: 22px;
}

.flash__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flash__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.slider-flash__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-flash__image {
  padding: 0px 0px 100.9174311927% 0px;
}

.slider-flash__image img {
  border-radius: 8px;
}

.slider-flash__content {
  padding-top: 30px;
  padding-right: 84px;
  padding-left: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-flash__time {
  font-size: 24px;
  line-height: 142%;
  color: #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.slider-flash__time::before {
  margin-right: 22px;
  font-size: 18px;
  line-height: 1;
}

.slider-flash__title {
  font-size: 24px;
  line-height: 142%;
  color: inherit;
  font-weight: 600;
  margin: 0px 0px 0.8333333333em 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slider-flash__text {
  color: #7a7a7a;
  margin: 0px 0px 1.875em 0px;
}

.slider-flash__price {
  font-size: 36px;
  line-height: 128%;
  color: #009d98;
  font-weight: 600;
}

.contact {
  position: relative;
  background: rgba(8, 60, 76, 0.5);
}

.contact__container {
  max-width: 1022px;
  padding-top: calc(50px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1120));
}

.contact__body {
  color: #fff;
}

.contact__title {
  margin: 0px 0px 0.75em 0px;
}

.contact__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.text-contact__sentence:not(:last-child) {
  margin: 0px 0px 1.875em 0px;
}

.text-contact__sentence a {
  color: inherit;
}

.registr-contact__line label {
  display: block;
  margin: 0px 0px 0.3125em 0px;
}

.registr-contact__line_email .registr-contact__line-data {
  background: #fff;
  color: black;
}

.registr-contact__line-data {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
          box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
  border-radius: 4px;
  width: 100%;
  height: 46px;
  color: #fff;
  padding-left: 5px;
  margin-bottom: 20px;
}

.registr-contact__line-data_textarea {
  padding: 5px;
  height: 120px;
  margin-bottom: 0;
}

.registr-contact__button {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 30px;
  text-transform: uppercase;
}

.brands__container {
  padding-top: 165px;
  padding-bottom: 30px;
}

.brands__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.brands__image img {
  max-width: 100%;
}

.footer {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__container {
  padding-top: 50px;
}

.footer__body {
  color: #fff;
}

.footer__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer__colummn {
  margin-bottom: 50px;
}

.footer__footer {
  text-align: center;
  border-top: 1px solid #fff;
}

.footer__footer p {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.footer__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: -2;
}

.column-footer__title {
  font-size: 24px;
  line-height: 142%;
  font-weight: 600;
  margin: 0px 0px 1.25em 0px;
}

.column-footer__item {
  display: block;
  color: #fff;
}

.column-footer__item:not(:last-child) {
  margin: 0px 0px 0.9375em 0px;
}

.social-footer {
  font-size: 20px;
  margin: 1.5em 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-footer__icon {
  color: #fff;
}

.social-footer__icon:not(:last-child) {
  margin: 0px 1em 0px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__first {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 168, 204, 0.1)), color-stop(99.99%, rgba(0, 168, 204, 0.05)));
  background: -o-linear-gradient(top, rgba(0, 168, 204, 0.1) 0%, rgba(0, 168, 204, 0.05) 99.99%);
  background: linear-gradient(180deg, rgba(0, 168, 204, 0.1) 0%, rgba(0, 168, 204, 0.05) 99.99%);
}

@media (min-width: 767.98px) {
  .header__container {
    padding-top: 30px;
  }

  .header__logo {
    font-size: 30px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .bg-fullscreen {
    display: block;
  }

  .bg-fullscreen__wave {
    position: absolute;
    width: 66%;
    top: 0;
    right: 0;
    z-index: -5;
  }

  .bg-fullscreen__cloud {
    position: absolute;
    width: 8.334%;
    height: 6.831%;
    top: 18%;
    left: 33%;
    background: url(../img/fullscreen/cloud.svg) 100% 100%/100% 100% no-repeat;
    opacity: 0.5;
    color: rgba(0, 168, 204, 0.2);
    z-index: -1;
  }

  .form-place {
    background-color: #fff;
  }

  .form-place__input {
    width: 200px;
    margin-right: 20px;
  }

  .form-place__input input {
    min-width: 30px;
  }

  .learn__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .learn__picture {
    margin-right: 35px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 566px;
            flex: 0 1 566px;
  }

  .content-learn {
    background: url(../img/learn/world.svg) top/100% no-repeat;
  }

  .content-learn__body {
    max-width: 400px;
    margin: 0px 0px 0px 87px;
  }

  .summer {
    background: url(../img/summer/bg-cloud.svg) top/100% no-repeat;
  }

  .slider-summer__body {
    overflow: visible;
  }

  .slider-summer__slide {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .slider-summer__slide._foc {
    opacity: 0;
    pointer-events: none;
  }

  .slider-flash__body {
    overflow: visible;
  }

  .slider-flash__time::before {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
  }

  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 510px;
            flex: 0 1 510px;
  }

  .contact__registr {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
  }
}

@media (min-width: 991.98px) {
  .place__bg {
    position: absolute;
    width: 110px;
    height: 110px;
    -webkit-transform: translate(-30%, 30%);
        -ms-transform: translate(-30%, 30%);
            transform: translate(-30%, 30%);
    bottom: 0;
    left: 0;
    background: url(../img/dotts10.svg) center/cover no-repeat;
    z-index: -1;
  }

  .form-place {
    border-radius: 50px 5px;
  }
}

@media (min-width: 1321px) {
  .picture-learn__dotts {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: url(../img/dotts5.svg) center/cover no-repeat;
    -webkit-transform: translate(-60%, -60%);
        -ms-transform: translate(-60%, -60%);
            transform: translate(-60%, -60%);
    z-index: -1;
  }

  .picture-learn__square {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    background-color: #ffc107;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(58.8235294118%, 58.8235294118%);
        -ms-transform: translate(58.8235294118%, 58.8235294118%);
            transform: translate(58.8235294118%, 58.8235294118%);
    z-index: -1;
  }

  .picture-learn__circle {
    position: absolute;
    width: 274px;
    height: 274px;
    top: 20%;
    left: 0;
    background: url(../img/learn/circle.svg) center/cover no-repeat;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    z-index: -1;
  }
}

@media (max-width: 1065px) {
  .btn {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 745));
  }

  .btn {
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 745));
  }

  .btn {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 745));
  }

  .btn {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 745));
  }

  .btn {
    font-size: calc(12px + 4 * ((100vw - 320px) / 745));
  }

  ._text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 745));
  }

  ._title {
    font-size: calc(20px + 20 * ((100vw - 320px) / 745));
  }

  .header__logo::before {
    margin-right: calc(2px + 2 * ((100vw - 320px) / 745));
  }

  .fullscreen__container {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 745));
  }

  .fullscreen__title {
    font-size: calc(40px + 35 * ((100vw - 320px) / 745));
  }

  .place {
    margin-bottom: calc(50px + 90 * ((100vw - 320px) / 745));
  }

  .form-place {
    padding: calc(20px + 30 * ((100vw - 320px) / 745));
  }

  .form-place__input {
    padding-right: calc(5px + 15 * ((100vw - 320px) / 745));
  }

  .form-place__input {
    padding-left: calc(5px + 15 * ((100vw - 320px) / 745));
  }

  .form-place__input {
    height: calc(30px + 20 * ((100vw - 320px) / 745));
  }

  .form-place__button {
    padding-top: calc(6px + 6 * ((100vw - 320px) / 745));
  }

  .form-place__button {
    padding-bottom: calc(6px + 6 * ((100vw - 320px) / 745));
  }

  .content-learn__button {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 745));
  }

  .content-learn__button {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 745));
  }

  .summer {
    padding-top: calc(55px + 80 * ((100vw - 320px) / 745));
  }

  .summer {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 745));
  }

  .header-summer {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 745));
  }

  .header-summer__text {
    margin-bottom: calc(0px + 20 * ((100vw - 320px) / 745));
  }

  .header-summer__button {
    padding-top: calc(7px + 8 * ((100vw - 320px) / 745));
  }

  .header-summer__button {
    padding-bottom: calc(7px + 8 * ((100vw - 320px) / 745));
  }

  .slider-summer__body {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    padding-top: calc(5px + 10 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    padding-bottom: calc(5px + 10 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    font-size: calc(12px + 4 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    bottom: calc(10px + 20 * ((100vw - 320px) / 745));
  }

  .slider-summer__button {
    left: calc(10px + 20 * ((100vw - 320px) / 745));
  }

  .slider-summer__paragraph {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .slider-summer__paragraph {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .slider-summer__paragraph {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .slider-summer__title_text {
    font-size: calc(16px + 20 * ((100vw - 320px) / 745));
  }

  .slider-summer__title_star::before {
    font-size: calc(14px + 6 * ((100vw - 320px) / 745));
  }

  .slider-summer__text {
    margin-bottom: calc(10px + 15 * ((100vw - 320px) / 745));
  }

  .flight-slider-summer__people {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .flight-slider-summer__people::before {
    font-size: calc(14px + 4 * ((100vw - 320px) / 745));
  }

  .flight-slider-summer__days::before {
    font-size: calc(14px + 4 * ((100vw - 320px) / 745));
  }

  .flight-slider-summer__price {
    font-size: calc(18px + 6 * ((100vw - 320px) / 745));
  }

  .nav-slider-summer__button_prev {
    margin-right: calc(12px + 10 * ((100vw - 320px) / 745));
  }

  .flash__container {
    padding-top: calc(50px + 50 * ((100vw - 320px) / 745));
  }

  .flash__container {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 745));
  }

  .flash__header {
    margin-bottom: calc(22px + 26 * ((100vw - 320px) / 745));
  }

  .slider-flash__content {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .slider-flash__content {
    padding-right: calc(15px + 69 * ((100vw - 320px) / 745));
  }

  .slider-flash__content {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .slider-flash__time {
    font-size: calc(18px + 6 * ((100vw - 320px) / 745));
  }

  .slider-flash__time {
    margin-bottom: calc(12px + 11 * ((100vw - 320px) / 745));
  }

  .slider-flash__time::before {
    margin-right: calc(11px + 11 * ((100vw - 320px) / 745));
  }

  .slider-flash__time::before {
    font-size: calc(12px + 6 * ((100vw - 320px) / 745));
  }

  .slider-flash__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 745));
  }

  .slider-flash__price {
    font-size: calc(20px + 16 * ((100vw - 320px) / 745));
  }

  .registr-contact__line-data {
    height: calc(30px + 16 * ((100vw - 320px) / 745));
  }

  .registr-contact__line-data {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 745));
  }

  .registr-contact__line-data_textarea {
    height: calc(70px + 50 * ((100vw - 320px) / 745));
  }

  .registr-contact__button {
    padding-right: calc(30px + 20 * ((100vw - 320px) / 745));
  }

  .registr-contact__button {
    padding-left: calc(30px + 20 * ((100vw - 320px) / 745));
  }

  .registr-contact__button {
    margin-top: calc(20px + 10 * ((100vw - 320px) / 745));
  }

  .brands__container {
    padding-top: calc(30px + 135 * ((100vw - 320px) / 745));
  }

  .brands__container {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .footer__container {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 745));
  }

  .footer__colummn {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 745));
  }

  .footer__footer p {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .footer__footer p {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 745));
  }

  .column-footer__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 745));
  }

  .social-footer {
    font-size: calc(14px + 6 * ((100vw - 320px) / 745));
  }
}

@media (max-width: 991.98px) {
  .place__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-place {
    border-radius: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    padding-top: 20px;
  }

  .header__logo {
    font-size: 20px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    padding: 70px 20px 20px 20px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 3;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 60px;
    background-color: #E5E5E5;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 3;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
    padding: 20px 0px;
  }

  .menu__link {
    font-size: 35px;
    font-weight: 600;
    color: #32353f;
    line-height: 120%;
  }

  .icon-menu {
    display: block;
    position: relative;
    right: 0;
    width: 25px;
    height: 14px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active::before {
    top: 50%;
    -webkit-transform: translate(0px, -50%) rotate(-45deg);
        -ms-transform: translate(0px, -50%) rotate(-45deg);
            transform: translate(0px, -50%) rotate(-45deg);
  }

  .icon-menu._active::after {
    bottom: 50%;
    -webkit-transform: translate(0px, 50%) rotate(45deg);
        -ms-transform: translate(0px, 50%) rotate(45deg);
            transform: translate(0px, 50%) rotate(45deg);
  }

  ._no-webp .fullscreen__people{
    background: url(../img/fullscreen/group.png) center/cover no-repeat; }

  .fullscreen__people {
    height: 80%;
  }

  .place {
    background-color: #fff;
  }

  .form-place__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-place__input input {
    width: 100%;
  }

  .form-place__button {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .learn__body {
    text-align: center;
  }

  .picture-learn__image {
    margin-bottom: 20px;
  }

  .slider-summer__button {
    border-radius: 2px 5px;
  }

  .slider-flash__time::before {
    -webkit-transform: translate(0px, 14%);
        -ms-transform: translate(0px, 14%);
            transform: translate(0px, 14%);
  }

  .contact__content {
    margin: 0px 0px 20px 0px;
  }

  .brands__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
  }

  .footer__colummn:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 479.98px) {
  .header-summer__left {
    margin: 0px 10px 5px 0px;
  }

  .flash__title {
    padding: 3px;
  }

  .brands__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0px 40px;
  }
}

@media (min-width: 767.98px) and (max-width: 1065px) {
  .menu__item:not(:last-child) {
    margin-right: calc(20px + 10 * ((100vw - 320px) / 745));
  }

  .form-place__input {
    width: calc(100px + 100 * ((100vw - 320px) / 745));
  }

  .form-place__input {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 745));
  }
}

@media (min-width: 991.98px) and (max-width: 1065px) {
  .place__bg {
    width: calc(50px + 60 * ((100vw - 320px) / 745));
  }

  .place__bg {
    height: calc(50px + 60 * ((100vw - 320px) / 745));
  }
}

@media (min-width: 1321px) and (max-width: 1065px) {
  .picture-learn__dotts {
    width: calc(10px + 40 * ((100vw - 320px) / 745));
  }

  .picture-learn__dotts {
    height: calc(10px + 40 * ((100vw - 320px) / 745));
  }

  .picture-learn__square {
    width: calc(20px + 65 * ((100vw - 320px) / 745));
  }

  .picture-learn__square {
    height: calc(20px + 65 * ((100vw - 320px) / 745));
  }

  .picture-learn__circle {
    width: calc(100px + 174 * ((100vw - 320px) / 745));
  }

  .picture-learn__circle {
    height: calc(100px + 174 * ((100vw - 320px) / 745));
  }
}

@media (any-hover: hover) {
  .btn:hover {
    -webkit-box-shadow: 0px 7px 12px rgba(0, 157, 152, 0.25);
            box-shadow: 0px 7px 12px rgba(0, 157, 152, 0.25);
    background-color: #188182;
  }

  .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: #009d98;
  }

  .slider-summer__image-cover:hover .slider-summer__button {
    opacity: 1;
    visibility: visible;
  }

  .slider-summer__button {
    opacity: 0;
    visibility: hidden;
  }

  .slider-summer__button:hover {
    background-color: #947003;
  }

  .text-contact__sentence a {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .text-contact__sentence a:hover {
    color: #a7a7a7;
  }

  .column-footer__item {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .column-footer__item:hover {
    color: #bdbdbd;
  }

  .social-footer__icon {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .social-footer__icon:hover {
    color: #0000ff;
  }

  .social-footer__icon:hover._icon-facebook {
    color: #4267b2;
  }

  .social-footer__icon:hover._icon-twitter {
    color: #1da1f2;
  }

  .social-footer__icon:hover._icon-vimeo {
    color: #86c9ef;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  .fullscreen {
    height: 100%;
  }

  .footer {
    height: 100%;
  }
}

._webp .fullscreen__people{ background: url(../img/fullscreen/group.webp) top/cover no-repeat; }

@media (max-width: 767.98px){

  ._webp .fullscreen__people{ background: url(../img/fullscreen/group.webp) center/cover no-repeat; }
}